@keyframes easeUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-14px);
  }
}
@keyframes easeDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(14px);
  }
}
@keyframes easeRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(14px);
  }
}
@keyframes easeLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-14px);
  }
}
/****************************************************************************************************
Base Styles
****************************************************************************************************/
/* line 5, ../sass/breakpoints/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Josefin Sans, sans-serif;
  font-size: 20px;
}

/* line 12, ../sass/breakpoints/_base.scss */
ul {
  list-style: none;
  padding-left: 0;
}

/* line 17, ../sass/breakpoints/_base.scss */
button:active,
button:focus,
button:hover,
input:active,
input:focus,
input:hover {
  outline: none;
}

/****************************************************************************************************
Component Styles
****************************************************************************************************/
/* line 33, ../sass/breakpoints/_base.scss */
.sideMargins {
  margin-left: 100px;
  margin-right: 100px;
}

/* line 38, ../sass/breakpoints/_base.scss */
.textInputStyle {
  margin: 20px;
  width: 50%;
  padding: 10px;
  background-image: url("/input-bg1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  border: none;
  text-align: center;
  font-size: 1rem;
}

/* line 50, ../sass/breakpoints/_base.scss */
.textInputStyle2 {
  margin: 20px;
  width: 50%;
  padding: 10px;
  background-image: url("/input-bg2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  border: none;
  text-align: center;
  font-size: 1rem;
}

/**************************************************
  Nav Bar
**************************************************/
/* line 68, ../sass/breakpoints/_base.scss */
.navbarStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 30px 40px;
  box-shadow: 0px 4px 4px #CCC;
}

/* line 77, ../sass/breakpoints/_base.scss */
.logoStyle {
  margin-right: 8%;
  font-family: Kaushan Script;
  font-size: 40px;
  color: #ff2955;
  text-decoration: none;
}

/* line 85, ../sass/breakpoints/_base.scss */
.linksContainerStyle {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  min-width: 50%;
}

/* line 92, ../sass/breakpoints/_base.scss */
.linkStyle {
  padding: 20px;
  font-family: Josefin Sans;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  color: #3C3C3C;
}

/**************************************************
  Dashboard
**************************************************/
/* line 108, ../sass/breakpoints/_base.scss */
.dashboard__header {
  padding-bottom: 10px;
  background-image: url("/input-bg1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* line 115, ../sass/breakpoints/_base.scss */
.dashboard__contents {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

/* line 121, ../sass/breakpoints/_base.scss */
.dashboard__polls {
  display: inline-block;
  margin: 0;
  width: 30%;
}

/**************************************************
Polls List
**************************************************/
/* line 134, ../sass/breakpoints/_base.scss */
.polls {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  width: 92%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 148, ../sass/breakpoints/_base.scss */
.feed-poll {
  width: 80%;
  padding: 0% 0% 12% 0%;
}
/* line 152, ../sass/breakpoints/_base.scss */
.feed-poll .feed-poll__title {
  animation: easeUp 0.5s;
  animation-fill-mode: forwards;
}
/* line 156, ../sass/breakpoints/_base.scss */
.feed-poll .feed-poll__image--left img {
  animation: easeRight 0.5s;
  animation-fill-mode: forwards;
}
/* line 160, ../sass/breakpoints/_base.scss */
.feed-poll .feed-poll__image--right img {
  animation: easeLeft 0.5s;
  animation-fill-mode: forwards;
}
/* line 166, ../sass/breakpoints/_base.scss */
.feed-poll:hover .feed-poll__title {
  animation: easeDown 1s ease-out;
  animation-fill-mode: forwards;
}
/* line 170, ../sass/breakpoints/_base.scss */
.feed-poll:hover .feed-poll__image--left img {
  animation: easeLeft 1s ease-out;
  animation-fill-mode: forwards;
}
/* line 174, ../sass/breakpoints/_base.scss */
.feed-poll:hover .feed-poll__image--right img {
  animation: easeRight 1s ease-out;
  animation-fill-mode: forwards;
}

/* line 181, ../sass/breakpoints/_base.scss */
.feed-poll__title {
  position: relative;
  width: 50%;
  top: -10px;
  padding: 12px 24px;
  background-color: white;
  color: #ff2955;
  border: 0.5px solid lightgray;
  border-left: 4px solid #ff2955;
}
/* line 191, ../sass/breakpoints/_base.scss */
.feed-poll__title span {
  text-align: right;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 199, ../sass/breakpoints/_base.scss */
.feed-poll__imageFlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 41.37931vw;
}

/* line 208, ../sass/breakpoints/_base.scss */
.feed-poll__image {
  display: block;
  max-height: 280px;
  max-width: 100%;
  box-shadow: 4px 4px 4px #CCC;
  border-radius: 2px;
  background-color: white;
}
/* line 216, ../sass/breakpoints/_base.scss */
.feed-poll__image img {
  max-width: 100%;
}

/* line 221, ../sass/breakpoints/_base.scss */
.feed-poll__image--left {
  min-width: 50%;
  min-height: 50%;
  max-width: 80%;
  max-height: 220px;
  align-self: flex-start;
  margin-right: -10%;
}

/* line 230, ../sass/breakpoints/_base.scss */
.feed-poll__image--right {
  max-width: 80%;
  max-height: 220px;
  align-self: flex-end;
  margin-left: -10%;
}

/* line 241, ../sass/breakpoints/_base.scss */
.optionTitleStyle {
  margin-bottom: 0;
}

/* line 245, ../sass/breakpoints/_base.scss */
.buttonContainerStyle {
  background-image: url("/btn-bg-grey.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* line 252, ../sass/breakpoints/_base.scss */
.buttonInputStyle {
  background: none;
  margin: 10px;
  padding: 10px;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: gray;
}

/**************************************************
  Current Poll
**************************************************/
/* line 267, ../sass/breakpoints/_base.scss */
.current-poll {
  margin-top: 0;
  margin-bottom: 60;
}

/* line 272, ../sass/breakpoints/_base.scss */
.current-poll__option {
  width: 40%;
  text-align: -webkit-center;
}

/* line 277, ../sass/breakpoints/_base.scss */
.current-poll__image {
  display: block;
  margin-bottom: 20px;
  max-height: 400px;
  max-width: 90%;
  width: auto;
}

/* line 285, ../sass/breakpoints/_base.scss */
.current-poll__chart {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  /* line 1, ../sass/breakpoints/_768up.scss */
  .feed-poll {
    width: 40%;
  }

  /* line 6, ../sass/breakpoints/_768up.scss */
  .feed-poll__imageFlex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20.68966vw;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 1, ../sass/breakpoints/_1200up.scss */
  .navbarStyle {
    margin-bottom: 140px;
  }

  /* line 5, ../sass/breakpoints/_1200up.scss */
  .polls {
    width: 84%;
  }

  /* line 9, ../sass/breakpoints/_1200up.scss */
  .feed-poll {
    padding: 0;
    width: 28%;
    height: 26%;
  }

  /* line 15, ../sass/breakpoints/_1200up.scss */
  .feed-poll__imageFlex {
    height: 13.40782vw;
  }

  /* line 20, ../sass/breakpoints/_1200up.scss */
  .feed-poll__title span {
    font-size: 1.53846vw;
  }
}
@media only screen and (min-width: 1440px) {
  /* line 2, ../sass/breakpoints/_1440up.scss */
  .feed-poll__title span {
    font-size: 20px;
  }
}
