.navbarStyle {
  margin-bottom: 140px;
}

.polls {
  width: 84%;
}

.feed-poll {
  padding: 0;
  width: 28%;
  height: 26%;
}

.feed-poll__imageFlex {
  height: 240px/1790px * 100vw;
}

.feed-poll__title {
  span {
    font-size: 20px/1300px * 100vw;
  }
}
